<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>

<div class="price-comparison__grid__row__title" translate="WEBAPP_RENT" translate-default="RENT">借りる</div>
<div class="price-comparison__grid__row__title" translate="WEBAPP_STREAM" translate-default="STREAM">動画配信</div>



